$color_1: #544866;
$color_2: #ffbc0e;
$color_3: #1b3039;
$color_4: #eceff1;
$color_5: #3490dc;
$color_6: #F8F8F8;
$color_7: #22D39E;

$background-color_1: #eceff1;
$background-color_2: #1b3039;
$background-color_3: #e2f1f8;
$background-color_4: rgba(33, 49, 63, .95);
$background-color_5: #fff59dee;
$background-color_6: #544866;
$background-color_7: #FFF;
$background-color_8: #D5CFDD;
$background-color_9: #ABA0BB;
$background-color_10: #FADBAEEE;
$background-color_11: #BBE4D2EE;
$background-color_12: #22D39E;

$font-family_1: 'Nunito', sans-serif;

$padding: 8; // default padding value
$base-font-size: 16;